doctype html
html
  head
    link(rel="stylesheet", href="/public/third-party/bootstrap-3.2.0/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/public/main.css", type="text/css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body 
    h1 Christine's Portfolio
    block content
    a(href="/aboutme") About Me
    br
    a(href="/") Home
    script(src="/public/homepage.js")